{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Olimpos</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{if eq .ActivePage "servers"}}active{{end}}" href="/servers">Servers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{if eq .ActivePage "worker-requests"}}active{{end}}" href="/worker-requests">Worker Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{if eq .ActivePage "api-logs"}}active{{end}}" href="/api-logs">API Logs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container mt-4">
    <h1>{{.PageTitle}}</h1>
    {{if eq .ContentTemplate "api_logs_content"}}
        {{template "api_logs_content" .}}
    {{else if eq .ContentTemplate "worker_requests_content"}}
        {{template "worker_requests_content" .}}
    {{else if eq .ContentTemplate "servers_add_content"}}
        {{template "servers_add_content" .}}
    {{else if eq .ContentTemplate "servers_content"}}
        {{template "servers_content" .}}
    {{end}}
</div>

</body>
</html>
{{end}}
